.complaint-form-container {
    max-width: 40px;
    margin: auto;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
  }
  .contact{
    align-items:center;
    justify-content: center;
    height: 100vh;
    background-image:url('https://tse3.mm.bing.net/th?id=OIP.M7VeHMuc37JV3T4Sa3n-OwHaEo&pid=Api&P=0&h=180');
    flex-direction:column;
    display:flex;
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
  }
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 3px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding:  15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  